<?php
$CONFIG = array (
  'instanceid' => 'oc4asc25kjhn',
  'passwordsalt' => 'G5u0bZvRVHZjVKCgjFbFxVh3VQQz+B',
  'secret' => 'Us8OMSPbISm2nJx5CVaNEQtKtHG3n3j6BV+wKrKbyKIJ9PEO',
  'trusted_domains' =>
  array (
          0 => 'localhost',
          1 => '*'
  ),
  'datadirectory' => '/var/www/nextcloud/data',
  'dbtype' => 'mysql',
  'version' => '27.1.3.2',
  'overwrite.cli.url' => 'https://localhost/nextcloud',
  'htaccess.RewriteBase' => '/nextcloud',
  'dbname' => 'nextcloud',
  'dbhost' => 'localhost',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => '{{ db_user }}',
  'dbpassword' => '{{ db_password }}',
  'installed' => true,
  "maintenance_window_start" => "1",
);